@model BlogCoreSolution.Models.ViewModels.ArticuloVM;
@{
    ViewData["Title"] = "Editar Articulo";
}

<br />
<br />

<h2 class="text-center">Editar Articulo</h2>
<form method="POST" asp-action="Create" enctype="multipart/form-data">

    <input type="hidden" asp-action="Articulo.Id" />

    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-7 offset-1 mt-4">
            <div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="articulo.Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="articulo.Nombre" class="form-control" placeholder="Ingresa el nombre del Articulo" />
                    <span asp-validation-for="articulo.Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="articulo.Descripcion"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="articulo.Descripcion" id="Contenido" class="form-control" style="height: 300px;"></textarea>
                    <span asp-validation-for="articulo.Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group row mt-2">
                    <div class="col-4">
                        <label asp-for="articulo.Categoria"></label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.articulo.CategoriaId, Model.ListaCategorias,
                        "-Por favor selecciona una categoría-", new { @class = "form-control" })
                        <span asp-validation-for="articulo.Descripcion" class="text-danger"></span>
                    </div>

                    <div class="form-group row mt-2">
                        <label asp-for="articulo.UrlImagen"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" class="form-control" name="archivos" id="subidaArchivo" />
                        <span asp-validation-for="articulo.UrlImagen" class="text-danger"></span>
                    </div>

                    <div class="form-group-row mt-4">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary form-control">Editar</button>
                                </div>
                                &nbsp;
                                <div class="col">
                                    <a asp-action="Index" class="btn btn-success form-control">Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>

        <div class="col-4 pt-3">
            <img src="@Model.articulo.UrlImagen" width="300"
                 style="border-radius: 5px; border: 1px solid #bbb9b9" />
        </div>
    </div>
        
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"></script>

        <script>
            new SimpleMDE({ element: document.getElementById("Contenido") });
        </script>
    }
}
